.My__Square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  user-select: none;
}
/* 1px solid black; */
.Square__0 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__1 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__3 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__4 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__5 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Square__6 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.Square__7 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.Square__8 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}